<!DOCTYPE html>
<html>
<head>
<title>Mongoose Dshboard !</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <script type ="text/javascript">
        

    </script>    
</head>
<body> 
	
	<div>
		<form class="" action="/mongooses" method="POST"> 
		<p>Name : <input type = "text" value= "" name= "name"></p>
		<p>Age :<input type = "text" value= "" name= "age"></p>
		<input type = "submit" value= "Add a new mongoose" name = "btn">
		</form>
	</div>
</body>
</html>    

